html{
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #8CBEB2;
  width: 75%;
  margin: 0 auto;
  font-family: 'Patrick Hand', cursive;
  font-weight: 500;
  color: #5C4B51;
}

.mainHeader {
  width: 100%;
  height: 150px;
  background-color: #F06060;
  border: 5px solid #F2EBBF;
  border-radius: 10px;
  font-size: 64px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.mainHeader h1 {
  position: relative;
  margin-top: 0;
  top: -18px;
}
.flashCard{
  margin: 3% auto;
  width: 700px;
  height: 550px;
  background: #F2EBBF;
  padding: 2%;
  font-size: 64px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 5px solid #F06060;
  border-radius: 10px;
}

.hide {
  display: none;
}

button {
  width: 200px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  border: 5px solid #F06060;
  margin: 0 2.1%;
  background: #F2EBBF;
}

.controls {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.trackCards p {
  margin: 3%;
}

.trackCards {
  margin: 0 auto;
  margin-top: 3%;
  width: 700px;
  height: 100px;
  font-size: 32px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 5px solid #F06060;
  border-radius: 10px;
  background: #F2EBBF;
}

.keyPresses {
  width: 500px;
  display: block;
  margin-left: 5%;
  margin-top: 3%;
  list-style-type: none
}

.tipSection {
  bottom: 0px;
  margin: 3% auto;
  width: 300px;
}
