html{
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #F5F5F5;
  width: 75%;
  margin: 0 auto;
  font-family: 'Patrick Hand', cursive;
  font-weight: 500;
}

.flashCard {
  margin: 10% auto;
  width: 700px;
  height: 500px;
  background: #fff;
  padding: 2%;
  font-size: 64px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 5px solid black;
  border-radius: 10px;
}

.hide {
  display: none;
}

button {
  width: 200px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  border: 5px solid black;
}

.controls {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
