/*STYLES FOR THE PAGE*/
html{
  box-sizing: border-box;
  background-color: #eee;
  position: relative;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 80%;
  margin: 0 auto;
}

.aFlashCard {
  margin: 0 auto;
  width: 700px;
  height: 500px;
  border: 1px solid black;
  padding: 2%;
  font-size: 24px;
}

.aFlashCard .cardAction {
  margin-top: 6%;
}
